@use './styles/_colors.scss' as *;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.tagline {
  color: $color5;
}

.badges {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.badge {
  height: 8vh;
  margin: 5px;
}

.App-header {
  background-color: $color4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
